@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

:root {
  --gray: #757575;
}

.header {
  border-bottom: solid 0.1rem var(--gray);
  box-shadow: var(--gray) 0px 15px 15px -10px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.header--title__name {
  position: absolute;
  left: 6rem;
  top: 2.5rem;
  color: var(--gray);
  transform: translateY(-3rem) rotate(-25deg);
  font-size: 3rem;
  font-family: 'Teko', sans-serif;
  line-height: 2.5rem;
}

.header--grid__container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-around;
}

.header--links {
  padding: 3rem 0 1rem 0;
}

.header--links__list {
  display: inline-flex;
  list-style: none;
  padding: 0;
}

.header--links__list a {
  margin-right: 2rem;
  text-decoration: none;
  color: var(--gray);
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  transition: color 200ms ease-in-out;
}

.header--links__list a:hover {
  color: #000;
  transition: color 200ms ease-in-out;
}
