.main--title {
  margin-bottom: -1rem;
}

.projects--list {
  padding: 0;
}

.project {
  list-style: none;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 2rem;
  margin: 2rem auto;
}

.project--title {
  margin: 0;
  color: var(--gray);
  font-size: 1.5rem;
}

.project--image {
  margin: 1rem 0 0 0;
  width: 100%;
}

.project--description__paragraph {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  line-height: 1.35rem;
  padding-right: 2rem;
}

.project--links {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.project--links a {
  padding: 0.25rem 1rem;
  margin: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  border: solid 0.05rem #000;
  color: var(--gray);
}

.project--links a:hover {
  background-color: var(--gray);
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .projects--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
}